%tr{ :class => cycle('odd', 'even') }

  %td= link_to repository.name, repository_path(repository)
  %td= repository.path
  %td= repository.last_commit_message
  %td= repository.last_commit_date
  %td= link_to 'Edit', edit_repository_path(repository)