#blob.node

  .control
    .title= @repository.name
    %ul.links
      = tab repository_commits_path(@repository),               :repositories => :commits
      = tab repository_commit_files_path(@repository, @commit), :repositories => :files

  .commit.latest
    .gravatar= gravatar_for_user(@repository.last_commit.committer)
    .message=  @repository.last_commit.message
    .date=     @repository.last_commit.date

  .blob

    .header
      %h3= node_breadcrumbs(@node)

    #code.contents
      :preserve
        #{blob_syntax_highlighted_contents(@node)}
