#tree.node

  .control
    .title= @repository.name
    %ul.links
      = tab repository_commits_path(@repository),               :repositories => :commits
      = tab repository_commit_files_path(@repository, @commit), :repositories => :files

  .commit
    .gravatar= gravatar_for_user(@commit.committer)
    .message=  @commit.message
    .date=     @commit.date

  .grid

    .header
      %h3= node_breadcrumbs(@node)

    %table

      %tr
        %th Name
        %th Commit
        %th Date

      - @node.nodes.each do |node|
        = render 'node', :node => node
