- if current_user

  - form_for :session, :url => sessions_path, :html => { :method => 'delete' } do |form|

    .gravatar= gravatar_for_user current_user
    .name=     current_user.name
    .signout=  form.submit 'Sign Out'

- else

  - form_for :session, :url => sessions_path do |form|

    = form.label          :email
    = form.text_field     :email, :size => 20
    = form.label          :password
    = form.password_field :password, :size => 20
    = form.submit         'Sign In'
