!!! XML
!!! Strict
%html

  %head

    = stylesheet_link_tag 'application', 'commit', 'control', 'error', 'flash', 'grid', 'header', 'navigation', 'node'
    = javascript_include_tag 'jquery'

  %body
    #container

      #header
        %h1     GitApp
        #login= render :partial => 'layouts/login'

      #navigation
        = render :partial => 'layouts/navigation'

      - if flash.any?
        #flash
          = flash_messages

      #content
        = yield

:javascript

  $(window).load(function() {
    var fields = $('#content form:first').find(
      'input:visible,select:visible,textarea:visible'
    );
    if (!fields) return;
    var top = fields[0];
    fields.each(function(field) {
      if (field.offsetTop < top.offsetTop) top = field;
    });
    if (!top) return;
    top.focus();
  });
