!!! XML
!!! Strict
%html

%head

  = stylesheet_link_tag 'application', 'error', 'grid', 'header', 'navigation'

  %body
    #container

      #header
        %h1     GitApp
        #login= render :partial => 'layouts/login'

      #navigation
        = render :partial => 'layouts/navigation'

      #flash
        = flash_messages

      #content
        = yield
